body{
  background: linear gradient hsl(182, 83%, 19%),
  url("images/logo.jpeg");
  background-size: cover;
}
h1{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 50rem;
  line-height: 1.5;
}

.container {
  position: relative;
  left: 0;
  top: 0;
}

.col-lg-6{
  background-size: cover;
}
